body{
    text-align: center;
    color: white;
    background-color: black;
    background-image: url(https://lh3.googleusercontent.com/-n4OiCoqcQypJkvkyegZ7e9BzIlS_whsXkiUmNRCGsfGsxfst3F_K4h9SlLayVRgxhXdAbn5SWp5jnGYFAmOvB-5TizerG8s2t0zfn05qb0hjjt3tDEYU0N5VmqVL3mPti1htLH9J6tCyGht971bH7jkklDyugGyGb894Y_5K3aUhH6WEVDKzOM6I--lRJ-lKWUGT07JYiygw46__U_nI2Yd-UvsCNXHDKhcRQxuq9_WnsGREYvM22yLtHPhynPst5V6RC0EFeWHjEPuZaqq8Xs295lMjHeNfL8p8KjnPlZPYoZVJuViuzE1WQrWcA3lr0UWTozdPhCZi0LgwAWb5HeTegsI-pNbFNvLKsWSLmWmyJRr9YFebMAw2hjB2YJ2ii1ZsE3kNsGcPNovl6kqTTTuygkbPObsZzqutryjcTUY1_kW7nZPXgIBmPykV6bqFIa6bQm-O3ksV21Y8ndKaTnX0AI1fFar7k9fuYc9JJiv2jaKZKDcPZBV-JPD8Qy3mXymhVDS8kW4jDUYB3xXhX3ax_aPwf1Cv5kLLz3g_0Pw39U1OEjx2AfPqv0DEH2jXK5atDFeZQ9Squ-vRnXQvmEs7b-FNyacvaGLenyicNhMAYDGTBZtP6GUUKNM6b5fuYgmFAiOXfioohTPs4A2--zm71SDKrJO2imSIQXzt4AlKd9S7j15QjVVaJpmQLIKq2-3omAUMtYC-ZWvsRp2cdgf2dbaRsRiYAmv1jNUr0QWKG1Q8V2jv7Ahv7ZapAk=w1564-h977-no?authuser=0);
    background-size: cover;
    background-position: center;
}

ol{
    justify-content: space-between;
    list-style: none;
    align-items: center;
    padding: 50px;
    

    
}
    

li{
    text-align: center;
}

a{
    text-align: center;
    color: white;
    text-decoration: none;
    
}

